{{define "component/themeSwitchTemplate"}}
<!--<template>-->
<!--  <a-menu :theme="themeSwitcher.currentTheme" mode="inline" selected-keys="">-->
<!--    <a-sub-menu>-->
<!--      <span slot="title">-->
<!--        <a-icon type="bulb" :theme="themeSwitcher.isDarkTheme ? 'filled' : 'outlined'"></a-icon>-->
<!--        <span>Theme</span>-->
<!--      </span>-->
<!--      <a-menu-item id="change-theme" class="ant-menu-theme-switch" @mousedown="themeSwitcher.animationsOff()"> Dark <a-switch style="margin-left: 2px;" size="small" :default-checked="themeSwitcher.isDarkTheme" @change="themeSwitcher.toggleTheme()"></a-switch>-->
<!--      </a-menu-item>-->
<!--      <a-menu-item id="change-theme-ultra" v-if="themeSwitcher.isDarkTheme" class="ant-menu-theme-switch" @mousedown="themeSwitcher.animationsOffUltra()"> Ultra <a-checkbox style="margin-left: 2px;" :checked="themeSwitcher.isUltra" @click="themeSwitcher.toggleUltra()"></a-checkbox>-->
<!--      </a-menu-item>-->
<!--    </a-sub-menu>-->
<!--  </a-menu>-->
<!--</template>-->
{{end}}

{{define "component/themeSwitchTemplateLogin"}}
<!--<template>-->
<!--  <a-menu @mousedown="themeSwitcher.animationsOff()" id="change-theme" :theme="themeSwitcher.currentTheme" mode="inline" selected-keys="">-->
<!--    <a-menu-item mode="inline" class="ant-menu-theme-switch">-->
<!--      <a-icon type="bulb" :theme="themeSwitcher.isDarkTheme ? 'filled' : 'outlined'"></a-icon>-->
<!--      <a-switch size="small" :default-checked="themeSwitcher.isDarkTheme" @change="themeSwitcher.toggleTheme()"></a-switch>-->
<!--      <template v-if="themeSwitcher.isDarkTheme">-->
<!--        <a-checkbox style="margin-left: 1rem; vertical-align: middle;" :checked="themeSwitcher.isUltra" @click="themeSwitcher.toggleUltra()">Ultra</a-checkbox>-->
<!--      </template>-->
<!--    </a-menu-item>-->
<!--  </a-menu>-->
<!--</template>-->
{{end}}

{{define "component/themeSwitcher"}}
<script>
  document.documentElement.setAttribute('data-theme', 'ultra-dark'); // Force ultra-dark theme globally
  document.querySelector('body').setAttribute('class', 'dark'); // Force dark theme on body

  const themeSwitcher = {
    isDarkTheme: true,
    isUltra: true,
    currentTheme: 'dark', // Always return 'dark'
    animationsOff() {
      document.documentElement.setAttribute('data-theme-animations', 'off');
    },
  };

  Vue.component('theme-switch', {
    template: `{{template "component/themeSwitchTemplate"}}`,
    data: () => ({
      themeSwitcher,
    }),
    mounted() {
      document.getElementById('message').className = themeSwitcher.currentTheme;
    },
  });

  Vue.component('theme-switch-login', {
    template: `{{template "component/themeSwitchTemplateLogin"}}`,
    data: () => ({
      themeSwitcher,
    }),
    mounted() {
      document.getElementById('message').className = themeSwitcher.currentTheme;
    },
  });
</script>

{{end}}
